---
- name: set timezone to Asia/Tokyo
  timezone:
    name: Asia/Tokyo

- name: upgrade all packages
  yum:
    name: '*'
    state: latest

- name: install yum-cron
  yum: 
    name:
      - yum-cron

- name: enabled yum-cron
  systemd:
    name: yum-cron
    enabled: yes

- name: replace in sql files
  shell: sed -i "s/^apply_updates.*$/apply_updates = yes/g" /etc/yum/yum-cron.conf

- name: start yum-cron
  systemd:
    name: yum-cron
    state: started

- name: Ensure group "ftpGroup" exists
  group:
    name: ftpGroup

- name: Add the user 'ftpUser' a primary group of 'admin'
  user:
    name: ftpUser
    password: ftpUser  
    group: ftpGroup

- name: SELINUX enforcing
  shell: sed -i -e 's/SELINUX=disabled/SELINUX=enforcing/g' /etc/selinux/config

