---
- name: set /etc/selinux/config 
  template: 
    src: "config" 
    dest: "/etc/selinux"
    owner: root

- name: reboot
  reboot:

- name: ftpd_full_access
  shell: setsebool -P ftpd_full_access on

- name: set timezone to Asia/Tokyo
  timezone:
    name: Asia/Tokyo

- name: upgrade packages
  shell: yum update -y

- name: install yum-cron
  yum: 
    name:
      - yum-cron

- name: enabled yum-cron
  systemd:
    name: yum-cron
    enabled: yes

- name: set yum-cron 
  template: 
    src: "yum-cron.conf" 
    dest: "/etc/yum"
    owner: root

- name: start yum-cron
  systemd:
    name: yum-cron
    state: started

- name: localectl LANG=ja_JP.utf8
  shell: localectl set-locale LANG=ja_JP.utf8

- name: localectl set-keymap us
  shell: localectl set-keymap us

- name: Ensure group "ftpGroup" exists
  group:
    name: ftpGroup

- name: Add the user 'ftpUser' a primary group of 'admin'
  user:
    name: ftpUser
    password: ftpUser  
    group: ftpGroup


- name: Install epel-release
  yum:
    name: epel-release
    state: present

- name: install the latest version of pure-ftpd from epel
  yum:
    name: pure-ftpd
    enablerepo: epel
    state: present

- name: backUp pure-ftpd.conf
  shell: cp /etc/pure-ftpd/pure-ftpd.conf /etc/pure-ftpd/pure-ftpd-backup.conf

- name: set pure-ftpd.conf 
  template: 
    src: "pure-ftpd.conf" 
    dest: "/etc/pure-ftpd"
    owner: root
  
- name: backUp rsyslog.conf
  shell: cp /etc/rsyslog.conf /etc/rsyslog-backup.conf

- name: set /etc/rsyslog.conf 
  template: 
    src: "rsyslog.conf" 
    dest: "/etc"
    owner: root

- name: restart rsyslog
  systemd:
    name: rsyslog
    state: restarted

- name: set /etc/rsyslog.conf 
  template: 
    src: "certs/pure-ftpd.pem" 
    dest: "/etc/pki/tls/certs"
    owner: root

- name: backUp rsyslog.conf
  shell: chmod 600 /etc/pki/tls/certs/pure-ftpd.pem

- name: start pure-ftpd
  systemd:
    name: pure-ftpd
    state: started
    enabled: yes