---
# This playbook contains common plays that will be run on all nodes.
- name: set timezone to Asia/Tokyo
  timezone:
    name: Asia/Tokyo

# /etc/resolv.confにこれ追加しておく docker上でのdns解決
# # Google nameservers
# nameserver 8.8.8.8
# nameserver 8.8.4.4

- name: upgrade all packages
  yum:
    name: '*'
    state: latest

- name: install auto-Update
  yum: 
    name:
      - yum-cron

- name: enabled yum-cron
  systemd:
    name: yum-cron
    enabled: yes

- name: replace in sql files
  shell: sed -i "s/^apply_updates.*$/apply_updates = yes/g" /etc/yum/yum-cron.conf

- name: start yum-cron
  systemd:
    name: yum-cron
    state: started



